@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* color: #fff; */
}
nav{
    background-image: linear-gradient(to top , #126c9d,#080808,#126c9d);
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .banner{
        width: 450px;
        height: 450px;
        background-image: url(img/87857fd7-f3d4-477d-8021-4f33832c49e5.png);
        background-size: 100%;

}
    .box1{
        width: 600px;
        height: 550px;
        border: 5px solid blue;
        margin-left: 600px;
        text-align: left;
        padding-top: 15px;
        border-style:none;
        
    }
    h1{
        text-align: left;
        color: hsl(0, 0%, 3%);
        font-size: 30px;
    }
    .c1{
        color: #080808;
        font-size: 16px;
    }
    .c2{
       text-align: center;
    }
    body{
        background-image: linear-gradient(to bottom, #504f4fbe,#7cacebc2,#ffffff);
       
    }
    .bx1{
        width: 120px;
        height: 120px;
        margin-left: 300px;
        margin-bottom: -80px;
        border-style: double;
        background-image: url(img/visualizador\ \(5\).png);
        background-size: 100%;
        border-style:none;
    }
    .bx2{
        width: 110px;
        height: 110px;
        margin-left: 100px;
        margin-bottom: -55px;
        border-style: double;
        background-image: url(img/valor\ \(3\).png);
        background-size: 100%;
        border-style:none;
    }
    .box2{
        width: 950px;
        height: 140px;
        border-style: double;
        text-align: left;
        margin-top: 30%;
        margin-left: -580px;
        border-style:none;
        padding-top: 10%;
        background-image: url(img/objetivo\ \(1\).png);
        background-position:15%,20%;
        background-size: 10%;
        background-repeat: no-repeat;
        
    }
    .box3{
        width: 950px;
        height: 70px;
        border-style: double;
        text-align: left;
        margin-top: 40%;
        margin-left: 350px;
        border-style:none;
    }
    .box4{
        width: 950px;
        height: 200px;
        border-style: double;
        text-align: left;
        margin-top: 35%;
        margin-left: -350px;
        border-style:none;
    }
    .box5{
        margin-top: 30%;
        width: 500px;
        height: 400px;
        margin-bottom: 50%;
        /* border-style:solid; */
        background-color: #1659b1;
        text-align: center;
    }
nav .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
}
nav li{
    margin-left: 7px;
}
nav li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}
nav li a:hover{
    background-color: rgb(248, 246, 246);
    color: rgb(14, 12, 12);
}
.texto .titulo{
    color: #fff;
    font-size: 60px;
    font-weight: 600;
}
.texto .sub_titulo{
    color: #fff;
    font-size: 58px;
    font-weight: 600;
}
.texto .botoes{
    margin-top: 30px;
}
.texto .botoes button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: 0;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}
.texto .botoes button.n-overlay{
    color: white;
    background: none;
    border: 2px solid white;
}
.texto .botoes button.n-overlay:hover{
    color: black;
    background-color: white;
}
.texto .botoes button.overlay{
    background: white;
    color: black;
    animation: vibrar 0.5s ease-in-out infinite both;
}
@keyframes vibrar {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
.tooltip {
    position: relative;
   }
   
   .tooltip-text {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
   }
   
   .tooltip:hover .tooltip-text {
    display: block;
   }


